/**
 * Border
 */
.border {
	background-color: $brand-color;
	position: absolute;
}
	.bottom {
		height: 1rem;
		width: 100%;
		bottom: 0;
	}
	.right {
		height: 100%;
		width: 1rem;
		top: 0;
		right: 0;
	}

h1 {
	color: white;
	font-size: 2rem;
}	
.icon {
	>svg {
		path {
			fill: $brand-color;
		}
	
	}
}


.site-title {
	font-family: "Buxton Sketch";
	text-transform: uppercase;
	font-size: $base-font-size*10;
	
	
	.icon {
		>svg {
				height:  $base-font-size*4;
				width:  $base-font-size*4;
		}
	}
}